<a href="https://colab.research.google.com/github/herculeslyndel/python-for-devops/blob/master/Python_for_DevOps_Chapter_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.6.9

```
package managers:
apt
rpm
macports
homebrew
chocolatey
```

```
running python:
shell
ipython
jupyter
```

```
arguments
```

```
execution control

python uses indentation to demark code blocks or group statements

if

for
    repeat block of statements once for each member of a sequence = ordered group of items

    continue statement skips a step in the for loop, jumping to the next item int eh sequence

while 
    repeat a block as long as condition is true
    must define way for loop to end
    best to have conditional statement that eventually evaluateds to False
```

In [ ]:
for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [ ]:
count = 0
while count < 4:
    print(f'the count is {count}')
    count += 1

the count is 0
the count is 1
the count is 2
the count is 3

```
or exit the while this way
exiting the loop with break
```

In [ ]:
count = 0 
while True:
    print(f'the count is {count}')
    if count > 5:
        break
    count += 1

the count is 0
the count is 1
the count is 2
the count is 3
the count is 4
the count is 5
the count is 6

```can use that for for loops too```

In [ ]:
for i in range(60):
    if i == 3:
        continue
    if i >= 6:
        break
    print(i)

0
1
2
4
5

```
handling exceptions
try statement 
    indenting block in which exception might be raised
except
    indenting block of code to run when error occurs
    [here he gives IndexError a variable name and prints that variable]
    [then breaks to exit the while]

python and 3rd party libraries have their own exceptions. ideally specify explicitly which exception youre trying to catch.
```

In [ ]:
thinkers = ['plato', 'playdo', 'gumpy']
while True:
    try:
        thinker = thinkers.pop()
        print(thinker)
    except IndexError as e:
        print('we tried to pop too many thinkers')
        print(f'error is "{e}"')
        break

gumpy
playdo
plato
we tried to pop too many thinkers
error is "pop from empty list"

```
built in objects
```

```
what is an object

oop has data or state and functionality together.

essential to understand: 
    class instantiation = creating objects from classes
    dot syntax = syntax accessing object attributes and methods
    class = defines attributes and methods shared by objects

```

```
so here FancyCar is a data type?
```

In [ ]:
class FancyCar():
    pass

type(FancyCar)

type

```
instantiate a fancy car object
```

In [ ]:
my_car = FancyCar()
type(my_car)

__main__.FancyCar

```
just remember that a object is an instantiation of a class
```

```
object methods and attributes

    objects store data in attributes
        attributes are variables attached to the object or object class

    objects define functionality in 2 forms
    
        object methods
            methods defined for all objects in a class
        class methods
            methods attached to a class and shared by objects in a class 
            [notice it doesnt say "defined by"]
        [both of] "which are functions attached to the object"
        these functions have access to object's attributes and can modify and use object's data


in python, functions ATTACHED to objects and classes are referred to as methods

here e.g. FancyCar class defines 
    driveFast method
    wheels attribute
```

In [ ]:
class FancyCar():
    wheels = 4
    def driveFast(self):
        print('Driving so fast')

```
now instantiate a fancy car
when instantiate and instance of FancyCar 
where the instance is named my_car
you can 
    access the attribute with dot syntax
    and 
    invoke the method with dot syntax
```

In [ ]:
my_car = FancyCar()
my_car.wheels

4

```
invoke the method
```

In [ ]:
my_car.driveFast()

Driving so fast

```
sequences
    = ordered / finite collections
    list
    tuple
    range
    string
    binary
```

```
sequence operations for any sequence type
    in
    not in
    indexing
    slicing
    finding an index
    length
    min / max
    count
```

In [ ]:
'a' in 'cat', 1 in [1, 2, 3]

(True, True)

In [ ]:
True in ['a' in 'cat', 1 in [1, 2, 3]]

True

In [ ]:
a_name_sequence = 'steve depp'
a_name_sequence[-1], a_name_sequence.index('e'), a_name_sequence.index('e', 7, 10),

('p', 2, 7)

In [ ]:
start = 2
stop = 8
step = 2
a_name_sequence[start:stop:step]

'eed'

In [ ]:
a_number_sequence = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
start = 2
stop = 8
step = 2
a_number_sequence[start:stop:step], a_number_sequence[stop:start:-step]

([3, 5, 7], [9, 7, 5])

In [ ]:
len(a_number_sequence), a_name_sequence.count('e'), max(a_number_sequence)

(11, 3, 11)

```
lists
    data structure
    ordered collection 
    any types can be mixed
    define list with list() or list(another finite object)
    list() takes only 1 argument!
    add item to list with 
        append which is most efficient
        insert which is less efficient
    add one list ot another list
    remove items from end
    remove the 1st occurrence of an items
    list comprehensions = for loops in a single line
    add variable values at run time
        legacy way
        format method
        template strings
        f-strings
```

In [ ]:
pies = ['cherry', 'apple']
print(pies)
pies.append('rhubarb')
print(pies)
pies.insert(1, 'cream')
print(pies)

['cherry', 'apple']
['cherry', 'apple', 'rhubarb']
['cherry', 'cream', 'apple', 'rhubarb']

In [ ]:
desserts = ['cookies', 'cake']
desserts.extend(pies)
print(desserts)

['cookies', 'cake', 'cherry', 'cream', 'apple', 'rhubarb']

In [ ]:
desserts.pop()

'rhubarb'

In [ ]:
desserts.append('cake')
desserts

(['cookies', 'cherry', 'cream', 'apple', 'cake'], None)

In [ ]:
desserts.remove('cake')
desserts

['cookies', 'cherry', 'cream', 'apple']

In [ ]:
squares = []
for i in range(10):
    squared = i*i
    squares.append(squared)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

```
the function of for loop's inner block is first
    can also
        add conditional at end
        nest them
        use multiple variables

specific functions only for strings:
    strip from left right both
    pad with just
    split
    join
    capitalize, upper, lower, title, swapcase
    check
        startswith
        endswith
        isalnum
        isalpha
        isnumeric
        istitle
        islower
        isuppper
    add variable values to strings at runtime
    use variables in format
    use Format Specification Mini-Language here ...
    https://docs.python.org/3/library/string.html#format-specification-mini-language

    or use f strings which are more intuitive

    or use template strings
```

In [ ]:
squares = [i*i for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[i*i for i in range(10) if i%2==0]

[0, 4, 16, 36, 64]

```
strings
    sequence type
    collection of ordered characters surrounded by quotes
    default to UTF-8 encoding

    str()
```

In [ ]:
str(), 'i am a string', "i am also a 'string'", str(list([1,2,3,4])), list(str('1234'))

('',
 'i am a string',
 "i am also a 'string'",
 '[1, 2, 3, 4]',
 ['1', '2', '3', '4'])

```interesting print --> none```

In [ ]:
multiline = '''i 
am
a
multiline
'''
multiline, print(multiline)

i
am
a
multiline

('i \nam\na\nmultiline\n', None)

In [ ]:
input = ' i want more '
input.strip(), input.rstrip(), input.lstrip()

('i want more', ' i want more', 'i want more ')

In [ ]:
'more'.ljust(6), 'more'.rjust(6)

('more  ', '  more')

```
this isnt adding spaces or stars, its placing the text inside 6 spaces or 10 stars
```

In [ ]:
'barry'.rjust(10, '*')

'*****barry'

In [ ]:
'mary had a little lamb'.split()

['mary', 'had', 'a', 'little', 'lamb']

In [ ]:
'mary had a little lamb'.split(' ')

['mary', 'had', 'a', 'little', 'lamb']

In [ ]:
'mary had a little lamb'.split('  ')

['mary had a little lamb']

In [ ]:
url = 'https://colab.research.google.com/drive/1TC8D1v9ieG56WF_by1fYjrHLUlqHaWt5#scrollTo=bzD5h7kmzdId'
url.split('/')

['https:',
 '',
 'colab.research.google.com',
 'drive',
 '1TC8D1v9ieG56WF_by1fYjrHLUlqHaWt5#scrollTo=bzD5h7kmzdId']

```
the list that is joined must be a list of strings
```

In [ ]:
' and '.join(['one', 'two', 'three'])

'one and two and three'

In [ ]:
name = 'steve depp'.title()
name, name.upper(), name.swapcase()

('Steve Depp', 'STEVE DEPP', 'sTEVE dEPP')

In [ ]:
'Bob'.startswith('B'), 'Bob'.endswith('b'), 'Bob123'.isalnum(), 'bob'.isalpha(),\
 '123'.isnumeric(), 'Steve'.istitle(), 'steve'.islower(), 'STEVE'.isupper()

(True, True, True, True, True, True, True, True)

In [ ]:
'%s + %s = %s' % (1,2, "Three"), '%.3f' % 1.23456

('1 + 2 = Three', '1.235')

In [ ]:
'{} comes before {}'.format('first', 'second'), \
'{1} comes after {0}, but {1} comes before {2}'.format('first', 'second', 'third')

('first comes before second',
 'second comes after first, but second comes before third')

In [ ]:
'''{country} is an island.
{country} is off the coast of 
{continent} in the {ocean}'''.format(ocean = 'indian ocean',
                                     continent = 'africa',
                                     country = 'madagascar')

'madagascar is an island.\nmadagascar is off the coast of \nafrica in the indian ocean'

In [ ]:
values = {'ocean':'indian ocean', 'continent':'africa', 'country':'madagascar'}
'''{country} is an island.
{country} is off the coast of 
{continent} in the {ocean}'''.format(**values)

'madagascar is an island.\nmadagascar is off the coast of \nafrica in the indian ocean'

In [ ]:
ocean = 'indian ocean'
continent = 'africa'
country = 'madagascar'
f'{country} is an island. {country} is off the coast of {continent} in the {ocean}'

'madagascar is an island. madagascar is off the coast of africa in the indian ocean'

In [ ]:
from string import Template
greeting = Template('$hello Mark Antony')
greeting.substitute(hello='bonjour')

'bonjour Mark Antony'

```
mutable = change in place
    lists are
    strings and dicts are not
        need to assign to same variable to change that variable
```

```
dicts 
    represented as comma separated key,value pairs in {}
    make with dict()
    access with dictname[key]
        --> KeyError if no key value
    access with dictname.get(key, default-value)
    delete a key-value pair with del
    return all the keys() or all the values() or all the key,value pairs with items()
    one line it with dict comprehension
```

In [ ]:
phones = {}
phones['steve'] = 4846448626
phones['rick'] = 2154928610
phones

{'rick': 2154928610, 'steve': 4846448626}

In [ ]:
ages = [['noah',17], ['oscar', 17], ['kazumi', 50], ['steve', 58]]
ages = dict(ages)
ages

{'kazumi': 50, 'noah': 17, 'oscar': 17, 'steve': 58}

In [ ]:
ages['steve']

58

In [ ]:
ages['rick']

KeyError: ignored

In [ ]:
phones.get('kazumi', 'unknown')

'unknown'

In [ ]:
if 'kazumi' in phones:
    print(phones['kazumi'])
else:
    print('unknown')

unknown

In [ ]:
del(ages['kazumi'])
ages

{'noah': 17, 'oscar': 17, 'steve': 58}

In [ ]:
ages.keys(), ages.values(), ages.items()

(dict_keys(['noah', 'oscar', 'steve']),
 dict_values([17, 17, 58]),
 dict_items([('noah', 17), ('oscar', 17), ('steve', 58)]))

In [ ]:
{n.upper():a for n,a in ages.items()}

{'NOAH': 17, 'OSCAR': 17, 'STEVE': 58}

```
function
    encapsulates code
    positional args first
    keyword args with default values
    return
        if not then None is returns
    are objects
        can be in a sequential list for sequential invocation
    anonymous functions
```

In [ ]:
def double(input):
    '''double input'''
    return input*2
def triple(input):
    '''triple input'''
    return input*3

#triple? if execiuted --> help box

In [ ]:
type(double)

function

In [ ]:
functions = [double, triple]
[f(3) for f in functions]

[6, 9]

In [ ]:
items = [[0, 'a', 2], [5, 'b', 0], [2, 'c', 1]]
sorted(items)

[[0, 'a', 2], [2, 'c', 1], [5, 'b', 0]]

In [ ]:
def second(item):
    '''return second entry'''
    return item[1]

sorted(items, key=second)

[[0, 'a', 2], [5, 'b', 0], [2, 'c', 1]]

```
do the same with lambda which doesnt retain a variable or a function name = stateless

lambda <PARAM>: <RETURN EXPRESSION>

leads to code that is poorly documented
```

In [ ]:
sorted(items, key=lambda item: item[1])

[[0, 'a', 2], [5, 'b', 0], [2, 'c', 1]]

```
regular expressions aka regex

    match patterns in strings

        e.g. .endswith method on stings

    python re package ~ regex in perl

        \ delineate special char in matching

        can avoid confusion with regular string escape chars 
            \n and \t e.g. 
        
        by using raw strings which are prepended with r before 1st quotation mark
```

In [20]:
cc_list = '''Ezra Koenig <ekoenig@vpwk.com.,
Rostam Batmanglij <ctomson@vpwk.com,
Chris Tomson <ctomson@vpwk.com,
Bobbi Baio <bbaio@vpwk.com>'''

```
regex

    sequence membership syntax
    re.search function
        returns re.Match object if match
            which is not zero so can be condtional elelment
    [..]search for any one of a set of characters
    + matches any one or more
    {number} matches exactly that number of matches
```

In [2]:
'Rostam' in cc_list

True

In [3]:
import re
re.search(r'Rostam', cc_list)

In [5]:
if re.search(r'Rostam', cc_list):
    print('Found')

Found

In [10]:
re.search('[RB]obb[yi]','Robbi'), re.search('[RB]obb[yi]','Bobby')

(<_sre.SRE_Match object; span=(0, 5), match='Robbi'>,
 <_sre.SRE_Match object; span=(0, 5), match='Bobby'>)

In [ ]:
re.search(r'Chr[a-z][a-z]', cc_list)

In [24]:
re.search(r'[A-Za-z]+', cc_list)

In [27]:
re.search(r'[A-Za-z]{6}', cc_list)